body {
    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: Inter, sans-serif;
}

p {
    margin: 0;
}

canvas {
    height: 100vh;
    width: 100vw;
    background: url("../images/background.png");
    background-size: 100px;
}

#hud {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    user-select: none;
}

#hud #top-bar {
    height: 7vh;
    margin: 5vh;
    display: flex;
    justify-content: space-between;
}

#hud #top-bar div {
    background-color: black;
    color: white;
    padding: 1vh 2vh;
    display: flex;
}

#hud #top-bar div:nth-child(2) {
    width: 100%;
    margin: 0 2vh;
    padding: 0.5vh;
    position: relative;
}

#hud #top-bar #progression {
    height: 100%;
    background-color: green;
    padding: 0;
}

#hud #top-bar #ends {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-2vh);
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#hud #top-bar #ends div {
    height: 100%;
    width: 2px;
    background-color: white;
    padding: 0;
    margin: 0;
}

#hud #top-bar #position {
    font-size: 5vh;
}

#hud #top-bar #position-suffix {
    font-size: 1.5vh;
}

#hud #top-bar div:last-child {
    flex-direction: column;
    justify-content: space-between;
}

#hud #top-bar div:last-child p:first-child {
    font-size: 1.5vh;
}

#hud #top-bar div:last-child p:last-child {
    font-size: 3vh;
}

#off-track {
    text-align: center;
    color: red;
    font-size: 3rem;
    animation: blink 1s infinite;
}

#start-countdown {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    image-rendering: pixelated;
}

#back-to-track div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-to-track div p {
    font-size: 2vw;
    font-weight: bold;
}

#back-to-track > p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2vw;
    -webkit-text-stroke: 0.03vw white;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}