body {
    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: Inter, sans-serif;

    background-color: #22882f;
}

p {
    margin: 0;
}

canvas {
    height: 100vh;
    width: 100vw;
}

#hud {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    user-select: none;
}

#hud #top-bar {
    height: 7vh;
    margin: 5vh;
    display: flex;
    justify-content: space-between;
}

#hud #top-bar div {
    background-color: black;
    color: white;
    padding: 1vh 2vh;
    display: flex;
}

#hud #top-bar div:nth-child(2) {
    width: 100%;
    margin: 0 2vh;
    padding: 0.5vh;
    position: relative;
}

#hud #top-bar #progression {
    height: 100%;
    background-color: green;
    padding: 0;
}

#hud #top-bar #ends {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-2vh);
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#hud #top-bar #ends div {
    height: 100%;
    width: 2px;
    background-color: white;
    padding: 0;
    margin: 0;
}

#hud #top-bar #position {
    font-size: 5vh;
}

#hud #top-bar #position-suffix {
    font-size: 1.5vh;
}

#hud #top-bar div:last-child {
    flex-direction: column;
    justify-content: space-between;
}

#hud #top-bar div:last-child p:first-child {
    font-size: 1.5vh;
}

#hud #top-bar div:last-child p:last-child {
    font-size: 3vh;
}

#off-track {
    text-align: center;
    color: red;
    font-size: 3rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}